Source: azouk-libraries
Section: net
Priority: extra
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0),
      gnulib,
      autoconf,
      automake,
      libboost-dev,
      libboost-date-time-dev,
      libboost-filesystem-dev,
      libboost-program-options-dev,
      libboost-signals-dev,
      libboost-system-dev,
      libboost-python-dev,
      python-dev, python,
      protobuf-compiler (>= 2.4.1),
      libprotobuf-dev (>= 2.4.1),
      chrpath
Standards-Version: 3.9.3
Vcs-Git: git://escher.fuw.edu.pl/git/azouk-libraries
Vcs-Browser: http://escher.fuw.edu.pl/git/azouk-libraries

Package: multiplexer-source
Architecture: all
Depends: ${misc:Depends},
      build-essential,
      automake,
      libboost-dev,
      libboost-date-time-dev,
      libboost-filesystem-dev,
      libboost-program-options-dev,
      libboost-signals-dev,
      libboost-system-dev,
      libboost-python-dev,
      python-dev, python,
      protobuf-compiler (>= 2.4.1),
      libprotobuf-dev (>= 2.4.1)
Description: multiplexer sources ready for compilation
 Multiplexer binary depends on the multiplexer.rules file, which is
 supposed to be modified by the user. So multiplexer must be
 distributed as sources.
 .
 Run /usr/share/multiplexer/configure --help to see available
 options (RULES is the most important setting).

Package: multiplexer-openbci
Architecture: amd64 i386
Depends:
      ${misc:Depends},
      ${shlibs:Depends},
      python-support (>= 0.90)
Description: multiplexer compiled for multiplexer.rules used with OpenBCI
 Multiplexer is used to pass messages around.
 .
 Multiplexer binary depends on the multiplexer.rules file, which is
 supposed to be modified by the user. This version is compiled for
 a specific version of this file, used with OpenBCI.
